<div style="width: 330px">
  <form [formGroup]="myForm">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        #input
        (keydown)="onKeyDown($event)"
        (blur)="onInputBlur()"
      />
    </mat-form-field>
    <mat-progress-bar
      mode="determinate"
      [value]="passwordCheck().percent"
      [color]="passwordCheck().color"
    ></mat-progress-bar>
    <div style="height: 20px">
      <mat-error *ngIf="isError"> No Cyrillic letters allowed! </mat-error>
    </div>
  </form>
</div>
