.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align::before {
  content: initial;
}

.mat-mdc-form-field.mat-form-field-appearance-outline {
  width: 100%;
  margin-bottom: 0;
  font-size: 18px;
}
